# Ignore PyCharm IDE files
.idea/

# ignore pycache
__pycache__

# ignore venv
venv/

# ignore environment files
*.env

# ignore Aim storage
.aim/
aim-artifacts/

# other
SCRATCH/
datasets/
experiments/
slogs/
sbatchs/
logs/


